# Python cache
__pycache__/
*.pt
*.pth
*.onnx

# Data (ignore only generated tiles, keep raw)
data/tiles_npz/images/
data/tiles_npz/labels/

# Visual output
*.png
sample_grid.png
prediction_samples.png
visualized_dataloader_samples.png

# Ignore other generated data folders
data/
dvc-storage/

# Model outputs/checkpoints
checkpoints/
outputs/
.wandb/
.env

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# DVC
.dvc/